.tblue {
	color: #46AFE3;
}
.tgreen {
	color: #4DBF3F;
}
.tviolet {
	color: #DF80FF;
}
.torange {
	color: #D96629; 
}
.tyellow {
	color: #D99B28;
}
.tgray {
	color: #8FA1B2;
}
.tred {
	color: #EB5368;
}